  

body{
    width: 100%;
   background-image: url(back_image.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   /* height: 115vh; */
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: auto;
   grid-template-areas: 
           "header nav"
           "main main"
           "footer footer"
           ;
}    

header {
    grid-area: header;
}
.head h1 {
    color: aliceblue;
    text-align: center;
    font-size: 2.5em;
}
.head {
    position: relative;
    bottom: 30%;
}

nav {
    grid-area: nav;
}
nav ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 40%;
    background-color: rgb(107, 101, 94);
    border-radius: 50px;
    margin-left: 3em;
}
nav ul li {
    list-style-type: none;
   
}
nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    transition: background 0.5s, transform 0.5s;
    position: relative;
}
nav ul li a:hover {
    color: brown;
    transform: translateY(2px);
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color:azure;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.cancel {
    display: none;
}

main {
    grid-area: main;
}
.image {
    position: relative;
    left: 50%;
    bottom: 40%;
    border-radius: 40%;
}
.aboutme{
    position: relative;
    left: 20%;
    top: 9%;
    color: aliceblue;
    
}
.aboutme h2 {
    font-size: 30px;
    font-weight: bold;
}
.aboutme h4 {
    font-size: 20px;
}

footer {
    grid-area: footer;
    text-align: center;
}

.icons a{
  color: rgb(115, 66, 66);
  font-size: 30px;
  padding: 0em 4em;
}
.foot {
    border-top: 2px solid white;
    color: aliceblue;
}

/*----- project---- */
main.Projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 20vw;
    margin-right: 20vw;
    column-gap: 1em;
    row-gap: 1em;
    padding: 5em;
    margin-bottom: 40px;
}
.Projects img {
    width: 400px;
    height: 200px;
    border-radius: 10px;
}
.Projects h2 {
    font-size: 20px;
    font-family: monospace;
    color: aliceblue;
}
.Projects p {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(40, 73, 102);
} 


/* ----- Contacts---- */

.mycontact {
    
    background-color: rgb(16, 19, 22);
    min-height: 50vh;
    max-width: 150vh;
    color: aliceblue;
    margin-left: 30em;
    margin-right: 20em;
    margin-bottom: 30px;
    padding: 4em 3em;
    border-radius: 10%;  
    display: flex;
    justify-content: space-between;
}
.cv {
    position: absolute;
    top: 70%;
    border: 2px solid red;
    font-size: 1.5em;
    text-decoration: none;
}
.cv:hover {
    background-color: rgb(180, 169, 169);
}
.cv a {
    text-decoration: none;
    color: brown;
}

.icon a {
    color: rgb(118, 72, 72);
    font-size: 20px;
    padding: 0.5em;
    justify-content: space-evenly;
}
.contact_left {
    position:absolute;
    bottom:  40%;
}
.contact_left h2 {
    position: absolute;
    bottom: 150%;
    font-size: 30px;
}  

form input, form textarea{
    display: block;
    max-width: 60vw;
    min-height: 1vh;
    color: white;
    background-color: rgb(130, 63, 63);
    outline: none;
    padding: 1em;

}
.contact_right {
    position: relative;
    left: 60%;
    top: 10%;
}
.button {
    color: brown;
    background-color: rgb(63, 48, 48);
    margin: 1em;
}
/* ---site report---- */
.report {
    background-color: white;
    max-width: 40vw;
    min-height: 50vh;
    position: relative;
    left: 30%;
    margin-bottom: 2em;
    border-radius: 5%;
    padding: 1em;
}
.valid img {
    width: 20vh;
}
.valid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1em;
    row-gap: 1em;
}
