*{
   margin: 0%;
   padding: 0%; 
   }

body{
     width: 100%;
     height: 100%;
    background-image: url(back_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:rgb(241, 232, 232) ;
    color: white;
    height: 100vh;
     display: grid;
    grid-template-columns: 30%, 70%;
    grid-template-rows: auto;
    grid-template-areas: 
            "header nav"
            "main main"
            "footer footer"
            ;
 }    
          /* ------------------HOMEPAGE CSS----------------------------- */

/* styling the header for all pages */
header, section{
    font-family:'Times New Roman', Times, serif;
    color: rgb(241, 245, 248);
    font-size: 1.5em;
    margin-left: 0.5em;
    display: inline;
    grid-area: header;
}
/* coloring the first letter of the first name */
.firstletter {
    color: rgb(219, 169, 107);
}


/* Styleing the navigation */
nav, ul, li{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 0.7em;
    margin-right: 3em;
    grid-area: nav;
}


a{
    text-decoration: none;
    color: aliceblue;
}

        
/* styling the main sections for all pages */
main, aside {
    
    grid-area: main;
}
/* styling the main and the aside section of the homepage */
.maintext, .myimage {
    display: flex;
}

/* moving down the section element within Main tag in the home page */
.aboutme{
        margin-top: 5em;
        margin-left: 3em;
        text-align: center;       
}

/* removing the space between the firstletter and the text */
#firstletter {
        margin-left: 0%;
}

/* positioning the image in the home page */
 .picsofme{ 
        position: relative;
        width: 100%;
        height: 60vh;
        top: -6em;
        right: -5em;
        border-radius: 90%;
}
/* styling the footer for all pages */
footer {
    grid-area: footer;
    
}
footer .icon {
    /* text-align: center; */
    margin-top: -7em;
    border-bottom: 0.4em solid white;
    width: 90%;
    margin-left: 3em;
    padding-bottom: -5em;
}
footer .icon a {
    padding-left: 8em;
    padding-bottom: 0.5em;
    font-size: 2em;
    justify-content: space-around ;
      
}
footer .foot{
    padding-top: -8em;
    text-align: center;
  
}
.foot {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: rgb(244, 240, 240);
    margin-bottom: 30em;
    border-top: 5em solid rgb(228, 42, 42);
}

     /*------------- CONTACT CSS---------------------- */

.mycontact {
    
    background-color: rgb(16, 19, 22);
    margin-left: 30em;
    margin-right: 20em;
    padding: 2em;
    
    border-radius: 10%;  
    display: flex;
    justify-content: space-between;
}
.contact_left {
    flex-basis: 60%;
}

 .contact_right { 
    flex-basis: 65%;
}

   
.contact_right, .forms {
    width: 100%;
    margin-top: 2em;
    margin-right: -5em;
    
}
form input, form textarea {
        display: block;
        width: 60%;
        padding: 1em;
        margin: 2em;
        background-color: rgb(87, 56, 56);
        color: rgb(246, 248, 250);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.5em;
        border-radius: 1em; 
        border: 0;     
        outline: none;  
}  
form .button {
    margin-left: 2em;
    width: 20%;
}

.button {
    background-color: rgb(226, 43, 49);
    color: aliceblue;
    font-size: 0.7em;
    border: none;
    padding: 0.5em;
    cursor: pointer;   
}
.contact_left h2 {
        margin-bottom: 2em;
        font-size: 2em;
        padding-left: -1em;
        text-align: center;
}
.contact_left p {
        padding: 0.5em;
        margin: 1em;      
}

.contact_left p i {
    color: rgb(211, 74, 72);
    margin-right: 0.6em;
    font-size: 1.5em;
}
.contact_icon {
    margin-top: 3em;
}

.icon a {
    font-size: 1.2em;
    margin-left: 1.2em;
    display: inline-block;
    color: rgb(82, 73, 73);
}
.cv {
    margin-top: 15em;
    margin-left: -25em;
    padding-bottom: -5em;
}
.cv a {
    font-family: ;
    border: 0.1em solid rgb(94, 65, 65);
    padding: 0.5em;
    font-size: 1em;
    font-family: Arial, Helvetica;
}
